/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 

.logo{
  width: 4.4rem;
  padding: 0.5%;
  padding-right: 1%;
}
.appbar{
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7d736;
  box-shadow: 2px 3px 5px gray;
  font-family: 'Roboto', sans-serif;
}
.form-card{
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  border-style: outset;
  max-width: 32rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 0.05rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  border-style: outset;
  border-width: 0.1rem;
  box-shadow: 2px 3px 5px gray;
  border-radius: 0.5rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}


.form-card-title:focus, .autoresize:focus{
  outline: none;
}
.btn{
  font-family: 'Roboto', sans-serif;
}

.form-card-title{
  border-style: none;
  min-height: 2.5rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
.autoresize{
  border-style: none;
  font-size: 1rem;
  margin-top: 0.4rem;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

.card{
  width: 200px;
  margin: 2rem 1rem 1rem 0rem;
  border-radius: 0.5rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  box-shadow: 2px 3px 5px gray;
}

.card-title{
  font-family: 'Permanent Marker', cursive;
}
.card-content{
  font-family: 'Permanent Marker', cursive;
  color: #515151;
  padding-top: 2rem;
  
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* min-width: 2rem; */
  /* max-width: 10rem; */
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem 2rem 2rem 2rem

}




.card-color-1{
  background-color: #ead3a7;
}
.card-color-2{
  background-color: #9de0f5;
}
.card-color-3{
  background-color: #ef89ba;
}
.card-color-4{
  background-color: #fae890;
}
.card-color-5{
  background-color: #abe9c1;
}

.card-rotation-1{
  transform: rotate(1deg);
}
.card-rotation-2{
  transform: rotate(2deg);
}
.card-rotation-3{
  transform: rotate(3deg);
}
.card-rotation-4{
  transform: rotate(4deg);
}
.card-rotation-5{
  transform: rotate(5deg);
}
.card-rotation-6{
  transform: rotate(0deg);
}
.card-rotation-7{
  transform: rotate(-1deg);
}
.card-rotation-8{
  transform: rotate(-2deg);
}
.card-rotation-9{
  transform: rotate(-3deg);
}
.card-rotation-10{
  transform: rotate(-4deg);
}
.card-rotation-11{
  transform: rotate(-5deg);
}




